<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <header>
        <div><a href="/"><img src="/components/LOGO.jpg" alt="ABitBid"></a></div>
        <div><a href="/">A BIT BID</a></div>
    </header>
    <nav>
        <div id="logoNav"><a href="/"><img src="/components/LOGO.jpg" alt=""></a></div>
        <div><a href="/">HOME</a></div>
        <div><a href="">RECENTS NEWS</a></div>
        <div><a href="">LINEUPS</a></div>
        <div><a href="">RESULTS</a></div>
        <div><a href="">MATCHES</a></div>
        <div><a href="">ON LIVE</a></div>
        <div></div>
        <div></div>
        <div class="rightNAV"><a href="">VERSION +18</a></div>
        <div class="rightNAV" id="lupa"><img src="/components/lupa (1).png" alt=""></div>
        <div class="rightNAV"><a href="">LOG IN</a></div>
        <div class="rightNAV"><a href="/sign">SIGN-UP</a></div>
    </nav>

    <div class="generalBody">
        <div class="about-us">
            <div class="content-about-us">
                <div class="img-about-us">
                    <img src="/components/LOGO.jpg" alt="">
                </div>
                <div class="text-about-us">
                    <p class="title">About us</p>
                    <p class="normal-text">We are a sports newspaper that has implemented its own section on bets of the
                        same type, always, with the best news and
                        selections to guarantee the viewer's experience.
                    </p>
                    <p class="normal-text">
                        Do you want to have the statistics and access to all the results from around the planet, in any
                        section? Go ahead, we are your company.
                    </p>
                    <p class="normal-text">Signed by: A Bit Bid</p>
                </div>
            </div>
        </div>
        <div class="bottom-side-body">
            <div class="recents-news">
                <div class="title-recents-news-body">
                    Recents News
                </div>
                <div class="content-recentsNew">
                    <img src="/components/Moises-Caicedo-Chelsea-2023.webp" alt="">
                    <p>The Chelsea close the signing up of Caicedo in 135 million €</p>
                </div>
            </div>
            <div class="matches">
                <div class="title-recents-news-body">
                    Matches
                </div>
                <div class="match">
                    <div class="shield">
                        <img src="/components/andorra.png" alt="">
                    </div>
                    <div class="info-match">
                        <p>Match Day 31</p>
                        <p id="result">0-1</p>
                        <p>24-03-18</p>
                        <p>2a Division Spanish</p>
                    </div>
                    <div class="shield">
                        <img src="/components/amorebieta.png" alt="">
                    </div>
                </div>
            </div>
            <div class="OnLive">
                <div class="title-recents-news-body">
                    On Live
                </div>
                <div class="content-onlive">
                    <div id="access"><img src="/components/candado (1).png" alt=""> ACCEDE TO SEE</div>
                    <img src="/components/51bcdfc1-0e30-4c5e-a642-f03eba818298_16-9-discover-aspect-ratio_default_0.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="img-footer">
            <img src="/components/Captura.PNG" alt="">
        </div>
        <div class="text-footer">
            <p>© 2024. All the rights are reserved.</p>
            <p>All the licenses opportune to operate.</p> 
            <p>When you accept to continue using or navegate in this web site, the client accept that we use certains cookiees of navigation to improve their experience with us. ABitBid will only use cookies that improve their experience and not the ones that interfere with their privacy. You will find more information about the use of cookies and how to disable them or how to manage it use if they wish in our politics of cookies.</p>               
            <br>
            <p>In this moment the customer service is not available, please try it again later.</p>
        </div>
    </footer>
</body>

</html>