<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
    <header>
        <div><a href="/"><img src="/components/LOGO.jpg" alt="ABitBid"></a></div>
        <div><a href="/">A BIT BID</a></div>
    </header>
    <nav>
        <div id="logoNav"><a href="/"><img src="/components/LOGO.jpg" alt=""></a></div>
        <div><a href="">HOME</a></div>
        <div><a href="">RECENTS NEWS</a></div>
        <div><a href="">LINEUPS</a></div>
        <div><a href="">RESULTS</a></div>
        <div><a href="">MATCHES</a></div>
        <div><a href="">ON LIVE</a></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="rightNAV"><a href="">VERSION +18</a></div>
        <div class="rightNAV" id="lupa"><img src="/components/lupa (1).png" alt=""></div>
        <div class="rightNAV"><a href="">LOG IN</a></div>
    </nav>

    

    <div class="generalBody">
        <div class="about-us">
            <div class="content-about-us">
                <div class="img-about-us">
                    <img src="/components/LOGO.jpg" alt="">
                </div>
                <div class="text-about-us">
                    <p class="title">Sign-up</p>
                    <form action="">
                        <div class="email-pass-enter">
                            <input type="email" placeholder="Email Address" class="email-pass">
                        </div>
                        <div class="email-pass-enter">
                            <input type="password" placeholder="Password" class="email-pass">
                        </div>
                        <button type="submit" class="button">Sign-up</button>
                    </form>
                    <p class="normal-text">Other methods for Sign-up</p>
                    
                    <div class="center-other-methods">
                        <div class="other-methods">
                            <div>
                                
                                <img src="/components/facebook.png" alt="" class="img-other-methods">
                                <img src="/components/instagram.png" alt="" class="img-other-methods">
                                <img src="/components/twitter.png" alt="" class="img-other-methods">
                                <img src="/components/sobre.png" alt="" class="img-other-methods">
                            </div>
                            
                        </div>
                        <a href=""><p class="normal-text">Or Log In</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="img-footer">
            <img src="/components/Captura.PNG" alt="">
        </div>
        <div class="text-footer">
            <p>© 2024. All the rights are reserved.</p>
            <p>All the licenses opportune to operate.</p> 
            <p>When you accept to continue using or navegate in this web site, the client accept that we use certains cookiees of navigation to improve their experience with us. ABitBid will only use cookies that improve their experience and not the ones that interfere with their privacy. You will find more information about the use of cookies and how to disable them or how to manage it use if they wish in our politics of cookies.</p>               
            <br>
            <p>In this moment the customer service is not available, please try it again later.</p>
        </div>
    </footer>

</body>
</html>