@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');



/*GLOBALES*/
a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

/*----------HEADER--------------*/
header {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {

    height: 80px;
}
header a{
    color: black;
}

/*------------NAV-------------*/
nav {
    height: 64px;
    background-color: #0E0404;
    overflow: hidden;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    position: sticky;
}

nav img {

    height: 47px;
    border-radius: 60px;
}
nav a{
    color: #FFFFFF;
}
#lupa img {

    height: 25px;
}


/*   body   */


.generalBody{
    overflow: hidden;
    display: grid;
    place-content: center; 
}






/* sign */
.about-us{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #000000;
    height: 650px;
    width: 100%;
    color: #FFFFFF;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.content-about-us{
    margin: 150px;
    background-color: #414141 ;
    height: 560px;
    border-top-left-radius: 80.5px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 64px;
}
.img-about-us img{
    width: 160px;
    height: 160px;
    border-radius: 80px;   
    justify-content: start;
}
.text-about-us{
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    padding: 25px;
    padding-bottom: 25px;
}
.title{
    font-size: 25px;
}
.normal-text{
    font-size: 15px;
    margin: 25px;
    text-decoration: none;
    color: white;
}


/*   form   */

form{
    margin-top: 50px;

}
.email-pass-enter{
    
    font-size: 15px;
    margin:15px;
    background-color: #d9d9d9;
    width: 800px;
    box-sizing: border-box;
}
.email-pass{
    background-color: #d9d9d9;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: black;
}

.button{
    background-color: rgba(60, 60, 202, 0.144) ;
    color: #d9d9d9;
    padding: 10px;
    text-align: center;
    width: 800px;
}
.button:hover{
    background-color: blue;
}

.center-other-methods{
    display: grid;
    place-items: center;
}

.other-methods{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.img-other-methods{
    margin-left: 15px;
    margin-right: 15px;
}
/*    footer     */

.footer{
    height: 269px;
    width: auto;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.text-footer{
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    margin-top: 10px;
    color: #FFFFFF;
}
    