@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');



/*GLOBALES*/
a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

/*----------HEADER--------------*/
header {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {

    height: 80px;
}
header a{
    color: black;
}

/*------------NAV-------------*/
nav {
    height: 64px;
    background-color: #0E0404;
    overflow: hidden;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    position: sticky;
}

nav img {

    height: 47px;
    border-radius: 60px;
}
nav a{
    color: #FFFFFF;
}
#lupa img {

    height: 25px;
}


/*   body   */


.generalBody{
    overflow: hidden;
    display: grid;
    place-content: center;
}

/* log */
.log{
    margin: 56px 100px;
    background-color: #000000;
    border-radius: 64px;
}


/*footer*/

.footer{
    height: 269px;
    width: auto;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}
.text-footer{
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    margin-top: 10px;
    color: #FFFFFF;
}
    